@{
    ViewData["Title"] = "Movie List";  //Establece el titulo en la pestaña del navegador
}

<h2>My Movie List</h2> <!-- Titulo principal o encabezado de la vista Index -->

<p>Hello from our View Template!</p>